<footer class="footer" style="background-color: rgb(66, 66, 236);">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                       Products
                    </a>
                </li>
                <li>
                    <a href="">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="">
                        Contact
                    </a>
                </li>
              
            </ul>
        </nav>
     
    </div>
</footer>
