<br><br><br>
 
<h3 style="text-align: center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(216, 83, 50);">Monitoring and follow-up Poverty in the world</h3>

<div style="position: relative; padding-bottom: 56.25%; height: 0;">
  <!--   <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 85%; border: none;" 
      title="Dashboard_Pi" 
      src="https://app.powerbi.com/reportEmbed?reportId=176e8e57-8422-4860-8ef9-c53b64fa4e18&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"> 
    </iframe>
    -->

    <a href="https://app.powerbi.com/reportEmbed?reportId=176e8e57-8422-4860-8ef9-c53b64fa4e18&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" target="_blank">

      <img src="../../assets/img/poverty.PNG" style="width: 100%;height:70" ></a>
 
  </div>
  