<app-header></app-header>
<br />

<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-6" s>
      <mat-card style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);background-color: rgb(231, 241, 241);border-color: yellowgreen;">
        Climate change is one of the most significant global challenges we face
        today. <br />
        It is caused by human activities that release greenhouse gases, such as
        carbon dioxide, into the atmosphere, trapping heat and causing the
        Earth's temperature to rise<br />
        <img src="../../assets/img/climate.jpg" />
      </mat-card>
    </div>
    <br>
    <div class="col-md-4 col-sm-6">
        <mat-card style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);background-color: rgb(231, 241, 241);border-color: yellowgreen;">
            Poverty remains a significant global challenge, affecting millions of
        people around the world. <br />Poverty is typically defined as a lack of
        access to essential resources. It is often associated with low
        income,unemployment.. <img src="../../assets/img/povrety.png" />
      </mat-card>
    </div>
<br>
    <div class="col-md-4 col-sm-12">
        <mat-card style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);background-color: rgb(231, 241, 241);border-color: yellowgreen;">
            Hunger is a critical issue affecting nearly 811 millions of people
        worldwide.<br />Hunger has numerous negative impacts on individuals,
        communities, and societies. It can lead to malnutrition, stunted growth,
        poor health outcomes <img src="../../assets/img/hunger.png" />
      </mat-card>
    </div>


  </div>
</div>

<br><br><br>
<app-footer></app-footer>
