<div class="logo" >
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png" />
        </div>
Sustain it    </a>
</div>
<div class="sidebar-wrapper">
 
    <ul class="nav">

             <li routerLinkActive="active" class="nav-item">
            
                <a class="nav-link" routerLink="/dashboard/home">
                    <i class="material-icons">home</i>
                    <p>Home</p>
                </a>
            </li>
         
            <li routerLinkActive="active" class="nav-item">
            
                <a class="nav-link" routerLink="/dashboard/sdgs">
                    <i class="material-icons">list</i>
                    <p>All SDGS</p>
                </a>
            </li>

   <li routerLinkActive="active" class="nav-item">
            
            <a class="nav-link" routerLink="/dashboard/climate">
                <i class="material-icons">eco</i>
                <p>Climate Change</p>
            </a>
        </li>

        
 


<li routerLinkActive="active" class="nav-item">
<a class="nav-link" routerLink="/dashboard/emissions">
    <i class="material-icons">cloud_queue</i>
    <p>Greenhouse_CO2_emissions</p>
</a>
</li>



<li routerLinkActive="active" class="nav-item">
            
    <a class="nav-link" routerLink="/dashboard/water">
        <i class="material-icons">waves</i>
        <p> Fresh water</p>
    </a>
</li>

<li  routerLinkActive="active" class="nav-item">
    <a class="nav-link" routerLink="/dashboard/hunger">
        <i class="material-icons">restaurant </i>
        <p>Hunger</p>
    </a>
    </li>
    <li  routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/dashboard/poverty">
            <i class="material-icons">sentiment_very_dissatisfied</i>
            <p>Poverty</p>
        </a>
        </li>

<li routerLinkActive="active" class="nav-item">
            
    <a class="nav-link" routerLink="/dashboard/resilience">
        <i class="material-icons">bubble_chart</i>
        <p>Resilience</p>
    </a>
</li>


<li routerLinkActive="active" class="nav-item">
            
    <a class="nav-link" routerLink="/dashboard/prediction">
        <i class="material-icons">trending_up</i>
        <p>Predictions</p>
    </a>
</li>






    
 

    </ul>
</div>
