<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt=""
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button
          type="button"
          class="btn btn-link px-3 me-2"
          data-toggle="modal"
          data-target="#modalLoginForm"
        >
          <a href="" data-toggle="modal" data-target="#modalLoginForm">
            Login</a
          >
        </button>
        <button
          type="button"
          class="btn btn-primary me-3"
          data-toggle="modal"
          data-target="#modalRegisterForm"
        >
          Sign up for free
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<iframe
  title="Dashboard_Pi"
  width="1140"
  height="541.25"
  src="https://app.powerbi.com/reportEmbed?reportId=bf73eda9-00ea-476c-8d79-3af4a5e09850&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730"
  frameborder="0"
  allowFullScreen="true"
></iframe>
<br /><br />



<div
  class="modal fade"
  id="modalLoginForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Login</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input
            type="text"
            id="orangeForm-name"
            class="form-control validate"
            [(ngModel)]="username"
            name="username"
          />
          <label data-error="wrong" data-success="right" for="orangeForm-name"
            >Your Username</label
          >
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input
            type="password"
            id="orangeForm-pass"
            class="form-control validate"
            [(ngModel)]="password"
            name="password"
          />
          <label data-error="wrong" data-success="right" for="orangeForm-pass"
            >Your password</label
          >
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-deep-orange" (click)="onSubmit()">
          Sign up
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalRegisterForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-3">
        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-4">
              <i class="fas fa-id-card prefix grey-text"></i>
              <input
                type="number"
                id="orangeForm-identity"
                class="form-control validate"
                [(ngModel)]="cin"
                name="cin"
              />
              <label
                data-error="wrong"
                data-success="right"
                for="orangeForm-identity"
                >Your Identity</label
              >
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-user prefix grey-text"></i>
              <input
                type="text"
                id="orangeForm-surname2"
                class="form-control validate"
                [(ngModel)]="nom"
                name="nom"
              />
              <label
                data-error="wrong"
                data-success="right"
                for="orangeForm-surname2"
                >Your Name</label
              >
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-user prefix grey-text"></i>
              <input
                type="text"
                id="orangeForm-surname"
                class="form-control validate"
                [(ngModel)]="surname"
                name="surname"
              />
              <label
                data-error="wrong"
                data-success="right"
                for="orangeForm-surname"
                >Your Surname</label
              >
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-calendar-alt prefix grey-text"></i>
              <input
                type="date"
                id="orangeForm-birthdate"
                class="form-control validate"
                [(ngModel)]="bd"
                name="bd"
              />

            </div>
          </div>

          <div class="col-md-6">
            <div class="md-form mb-4">
              <i class="fas fa-user prefix grey-text"></i>
              <input
                type="text"
                id="orangeForm-username"
                class="form-control validate"
                [(ngModel)]="username2"
                name="username2"
              />
              <label
                data-error="wrong"
                data-success="right"
                for="orangeForm-username"
                >Your Username</label
              >
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <input
                type="password"
                id="orangeForm-password"
                class="form-control validate"
                [(ngModel)]="password2"
                name="password2"

              />
              <label
                data-error="wrong"
                data-success="right"
                for="orangeForm-password"
                >Your Password</label
              >
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <input
                type="password"
                id="orangeForm-password2"
                class="form-control validate"
                [(ngModel)]="repassword2"
                name="repassword2"
              />
              <label
                data-error="wrong"
                data-success="right"
                for="orangeForm-password2"
                >Re-type Password</label
              >
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input
                type="email"
                id="orangeForm-email"
                class="form-control validate"
                [(ngModel)]="email"
                name="email"
              />
              <label
                data-error="wrong"
                data-success="right"
                for="orangeForm-email"
                >Email</label
              >
            </div>
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-phone prefix grey-text"></i>
            <input
              type="number"
              id="orangeForm-phone"
              class="form-control validate"
              [(ngModel)]="tel"
              name="tel"
            />
            <label
              data-error="wrong"
              data-success="right"
              for="orangeForm-phone"
              >Your Phone Number</label
            >
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-deep-orange" (click)="register()">
              Sign up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
