<br><br><br>
 

 
<div style="position: relative; padding-bottom: 56.25%; height: 0;"  >
    <!--  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;" 
      title="Dashboard_Pi" 
      src="https://app.powerbi.com/reportEmbed?reportId=5fe3a6e2-5e1d-490c-8e91-4e61c279ed69&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" 
      frameborder="0" allowFullScreen="true"> 
    </iframe>
 -->
  
   <a href="https://app.powerbi.com/reportEmbed?reportId=5fe3a6e2-5e1d-490c-8e91-4e61c279ed69&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" target="_blank">

 <img src="../../assets/img/home.PNG" style="width: 100%;height:70" ></a>

 

  </div>
  