<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Identity" type="text" [(ngModel)]="user.cin" name="cin"  >
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input type="text"  matInput placeholder="Username" [(ngModel)]="user.username" name="username"  >
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" [(ngModel)]="user.email" name="email"  >
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text" [(ngModel)]="user.name" name="name"  >
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text"  [(ngModel)]="user.surname" name="surname"  >
                                </mat-form-field>
                              </div>
                          </div>
                          
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Password" type="password"  [(ngModel)]="user.password" name="password" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Date of birth" type="date" [(ngModel)]="user.dateBirth" name="dateBirth"  >
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Telephone" type="number" [(ngModel)]="user.tel" name="tel"  >
                                </mat-form-field>
                              </div>
                          </div>
                      
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateUser()">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
        
      </div>
  </div>
</div>
